.parentContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: blue;
}

.parentContainer2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: red;
}
